<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="/statics/js/jquery-1.12.4.js"></script>
    <script src="/statics/jquery.cookie.js"></script>
</head>
<body>
    <div>
            <input type="file" name="file" id="file_upload">
            <input type="button" value="上传" onclick="FileUpload()">
    </div>
</body>

{% block javascript %}
    <script src="/statics/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/statics/plugins/tab-menu-box/tab.js"></script>
    <script type="text/javascript">

function FileUpload() {
        // 由于Django 本身的CSRF防跨站伪造请求的限制，在发送ajax
        // 请求的时候需要拿到cookie中的csrftoken 进行校验
        // 这里设置发送到后台的请求头，做统一处理
        $(function () {
            $.ajaxSetup({
                beforeSend:function (xhr,settings) {
                    xhr.setRequestHeader("X-CSRFToken",$.cookie('csrftoken'));
                }
            })
        });



        var form_data = new FormData();
        var file_info =$( '#file_upload')[0].files[0];
        form_data.append('file',file_info);
        //if(file_info==undefined)暂且不许要判断是否有附件
            //alert('你没有选择任何文件');
            //return false
        $.ajax({
            url:'/test_upload/',
            type:'POST',
            data: form_data,
            processData: false,  // tell jquery not to process the data
            contentType: false, // tell jquery not to set contentType
            success: function(callback) {

                console.log('ok')
            }
        });

        }

    </script>


{% endblock %}

</html>