<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 引入 Echarts.js -->
    <script src="/BBD_Test_Department/statics/js/echarts.js"></script>

    <title>Title</title>
</head>
<body>
    <!-- 为Echarts 准备一个具备大小（宽高）的 DOM -->
    <div id="main" style="width: 600px;height: 400px;"></div>
</body>
<script type="text/javascript">
    // 基于准备好的dom 初始化eharts实例
    // srcipt 标签式引入
    var myChart = echarts.init(document.getElementById('main'));
    // 过渡阶段.....
    myChart.showLoading({text:'正在努力读取数据中...'});
    // ajax getting data....
    // ajax callback
    myChart.hideLoading();


    // 图表使用
    var option = {
        legend:{
            padding:5,
            itemGap:10,
            data:['ios','android']
        },
        tooltip:{
            trigger:'item'
        },
        xAxis:[{
            type:'category',
            data:['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
        }],
        yAxis:[{
            type:'value',
            boundaryGap:[0.1,0.1],
            splitNumber:4
        }],
        series:[{
            name:'ios',
            type:'line',
            data:[112,23,45,56,233,343,454,89,343,123,45,123]
        },
            {
            name:'android',
            type:'line',
            data:[45,123,145,526,233,343,44,829,33,123,45,13]
        }
        ]
    };

    // 使用刚刚配置好的项和数据显示图标
    myChart.setOption(option)


</script>
</html>