{% extends "_layout.html" %}
{% load index_username %}

{% block css %}
    <link rel="stylesheet" href="/statics/plugins/tab-menu-box/tab.css" />
{% endblock %}

{% block body %}
<div class="pg-body">
    <div style="background-color: #eee;">
        <div class="w body-content">
            <div class="clearfix">
                <div class="content-l">
                    <div class="nav-top-area">
                        <div class="child-nav">
                            <select class="form-control" id="productItem">...
                                <option value="nd123" >请选择项目名称...</option>
                            </select>
                        </div>

                        {% if userinfo.is_login %}
                            <a href="javascript:void(0);" class="publish-btn" id="updateItem">
                                <span class="ico n1"></span><span class="n2">更新项目</span>
                            </a>
                            <a href="javascript:void(0);" class="publish-btn2" id="getData">
                                <span class="ico n1"></span><span class="n2">获取数据</span>
                            </a>
                        {% else %}
                            <a href="javascript:void(0);" class="publish-btn" id="updateItem">
                                <span class="ico n1"></span><span class="n2">更新项目</span>
                            </a>
                            <a href="javascript:void(0);" class="publish-btn2" id="getData">
                                <span class="ico n1"></span><span class="n2">获取数据</span>
                            </a>
                        {% endif %}
                    </div>

                    <div class="nav-form-area">
                        <from action="/index_tr" method="post" enctype="multipart/form-data" class="form-inline" >
                               <div class="form-group form-group-div">
                                    <label for="exampleInputName2">作者姓名:</label>
                                    <input type="text" class="form-control form_info" id="authorName"  placeholder="你的名字">
                               </div>
                                <div class="form-group form-group-div">
                                    <label for="exampleInputName3">覆盖范围:</label>
                                    <input type="text" class="form-control form_info" id="coverageAge"  placeholder="本次测试的范围">
                               </div>

                                <div class="form-group form-group-div">
                                    <label for="exampleInputName4">测试类型:</label>

                                      <input type="radio" class="radio" name="testType" value="功能测试">功能测试


                                      <input type="radio" class="radio" name="testType" value="性能测试">性能测试


                                      <input type="radio" class="radio" name="testType" value="安全测试">安全测试

                               </div>


                                <div class="form-group form-group-div">
                                    <label for="exampleInputName2">方法说明:</label>
                                    <textarea class="form-control form_info" rows="3" name="testStrategy" placeholder="测试策略及方法说明"></textarea>
                               </div>
                                <div class="form-group form-group-div">
                                    <label for="exampleInputName2">背景介绍:</label>
                                    <textarea class="form-control form_info" rows="3" name="backInfo" placeholder="项目背景介绍"></textarea>
                               </div>
                                <div class="form-group form-group-div">
                                    <label for="exampleInputName2">参考文档:</label>
                                    <textarea class="form-control form_info" rows="3" name="referenceFile" placeholder="多个文档请用空格隔开"></textarea>
                               </div>
                                <div class="form-group form-group-div">
                                    <label for="exampleInputName2">测试结论:</label>
                                    <textarea class="form-control form_info" name="testConclusion" rows="3" placeholder="您的测试结论"></textarea>
                               </div>
                                <div class="form-group form-group-div">
                                    <label for="exampleInputName2">风险说明:</label>
                                    <textarea class="form-control form_info" name="riskExplain" rows="3" placeholder="上线后有哪些预知的风险"></textarea>
                               </div>
                               <div class="form-group form-group-div">
                                    <label for="exampleInputName2">发送给@:</label>
                                    <textarea class="form-control form_info" name="emailContent" rows="3" placeholder="发给哪些人(邮箱地址)"></textarea>
                               </div>

                                <div class="form-group form-group-div">
                                    <label for="exampleInputName2">测试设备:</label>
                                    <button type="button" class="btn btn-info">+添加信息</button>
                                </div>
                                <div class="form-group form-group-div">
                                    <label for="exampleInputName2">角色分配:</label>
                                    <button type="button" class="btn btn-info">+添加信息</button>
                                </div>
                                <div class="form-group form-group-div">
                                    <label for="exampleInputName2">测试时间:</label>
                                    <button type="button" class="btn btn-info">+添加信息</button>
                                </div>
                                <div class="form-group form-group-div">
                                    <label for="exampleInputName2">测试阶段:</label>
                                    <button type="button" class="btn btn-info">+添加信息</button>
                                </div>
                                <div class="form-group form-group-div">
                                    <label for="exampleInputName2">功能模块:</label>
                                    <button type="button" class="btn btn-info">+添加信息</button>
                                </div>
                                <div class="form-group form-group-div">
                                    <label for="exampleInputName2">缺陷统计:</label>
                                    <button type="button" class="btn btn-info">+添加信息</button>
                                </div>
                        </from>
                    </div>


                    {% if userinfo.is_login %}
                        <div class="form-group-submit">
                            <button type="button" class="btn btn-primary" id="CreateReport">生成报告</button>
                            <button type="button" class="btn btn-default" disabled="disabled" id="SendReport">发送报告</button>
                                <span class="hide spanSR">
                                    <img src="/statics/images/loader.gif" style="height: 16px;width: 16px">
                                    <span>报告发送中...</span>
                                </span>
                        </div>
                    {% else %}
                        <div class="form-group-submit">
                            <button type="button" class="btn btn-primary" id="CreateReport">生成报告</button>
                            <button type="button" class="btn btn-default" disabled="disabled" id="SendReport">发送报告</button>
                                <span class="hide spanSR">
                                    <img src="/statics/images/loader.gif" style="height: 16px;width: 16px">
                                    <span>报告发送中...</span>
                                </span>
                        </div>
                    {% endif %}

                </div>

                <div class="content-r">
                    <div class="form-group form-group-div">
                        <label for="exampleInputName2">邮件内容:</label>
                        <textarea class="form-control form_info" name="emailList" style="height: 466px" placeholder="你还什么要说的吗"></textarea>
                   </div>

                </div>
            </div>
        </div>

    <div class="custom-alert-success hide alert" role="alert" id="alertSuccess">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>操作成功！</strong>
                    <h6>(1.报告信息已被保存数据库，若要重新生成，请刷新页面点击“生成报告”!)</h6>
                    <h6>(2.若要修改数据，请刷新页面后，填写要修改的部分，点击“生成报告”!)</h6>
                </div>




    <div id="add-info" class="modal-dialog-custom clearfix hide">
        <div id="add-info-modal" class="form-inline-modal">

        </div>


        <button id="modal-add-info-btn" type="button" class="btn">+再加一组</button>

        <button id="modal-del-info-btn" type="button" class="btn hide">-删除新增项</button>

        <div class="modal-btn">
            <button type="button" class="btn btn-primary modal-btn-confir">确定</button>
            <button type="button" class="btn btn-danger modal-btn-cancel">关闭</button>
        </div>
    </div>

    <div class="modal-dialog-zentao clearfix hide">
        <div class="modal-btn-zentao">
            <button type="button" class="btn-zentao  btn-old-zentao" value="1">老禅道</button>
            <button type="button" class="btn-zentao  btn-new-zentao" value="2">新禅道</button>
        </div>
    </div>


    <div class="shadow hide"></div>

</div>
{% endblock %}

{% block javascript %}
    <script src="/statics/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/statics/plugins/tab-menu-box/tab.js"></script>
    <script type="text/javascript">
        $(function () {
            BindTabMenu('#tab-menu-title', '#tab-menu-body');

            BindLoginRegisterDialog();

            BindSendMsg();

            BindNewType();

            BindPublishSubmit();

            BindAddInfoModal();

            BindUpdateItem();

            BindGetData();

            BindFromData();

            BindCreateReport();

            BindSendReport();

        });



        /* from表单的字段通过ajax实现 */
        function BindFromData() {
            $('.form_info,.radio').blur(function () {
                var labelName = $(this).siblings().text();
                var labelValue = $(this).val();

                if ($('#action_nav').attr('is-login') == 'true'){
                      $.ajax({
                        url: '/modal_info/',
                        type: 'get',
                        data: {labelName:labelName,labelValue:labelValue},
                        dataType: 'json',
                        success: function (arg) {
                            if (arg.status){
                                console.log('完了！~')
                            } else {
                                console.log("出错了！")
                            }
                        }
                    })
                }else {
                    console.log("锅佬倌！先登录")
                }
            });
        }

        /* 绑定一个向后台发送数据的功能 */
        function BindAddInfoModal() {

            // 指定数据格式
            var data = {'测试设备:': [
                            {name: '服务器类型', value: '普通PC机'},
                            {name: '服务器内存', value: '8GB'},
                            {name: '服务器硬盘', value: '40GB'},
                            {name: '服务器CPU', value: 'Intel(R) Xeon(R) CPU E5-2620 v3 @ 2.40GHz'},
                            {name: '服务器系统', value: '64位CentOS'},
                            {name: '客户机类型', value: '普通PC机'},
                            {name: '客户机内存', value: '8GB'},
                            {name: '客户机硬盘', value: '1TB'},
                            {name: '客户机CPU', value: 'Intel(R) Core(TM)i5-6600 @ 3.30GHz'},
                            {name: '客户机系统', value: 'Windows7'}
                            ],
                        '角色分配:': [
                            {'name': '任务名称', value: ''},
                            {'name': '开始时间', value: ''},
                            {'name': '结束时间', value: ''},
                            {'name': '开发人员', value: ''},
                            {'name': '测试人员', value: ''}
                            ],
                        '测试时间:':[
                            {"name":"测试阶段",value:""},
                            {"name":"开始时间",value:""},
                            {"name":"结束时间",value:""},
                            {"name":"工作天数",value:""}
                        ],
                        '测试阶段:':[
                            {"name":"阶段名称",value:""},
                            {"name":"阶段描述",value:""}
                        ],
                        '功能模块:':[
                            {"name":"功能名称",value:""},
                            {"name":"是否通过",value:""}
                        ],
                        '缺陷统计:':[
                            {"name":"开发姓名",value:""},
                            {"name":"缺陷个数",value:""}
                        ]
            };


            // 点击任意标签下的 模态对话框
            $(".btn-info").click(function(e) {
                if ($('#action_nav').attr('is-login') == 'true'){
                    $("#add-info").removeClass("hide");
                    $(this).addClass("this-btn-info")
                }else {
                    $('#accountDialog').removeClass('hide');
                }
                e && e.stopPropagation();

                $(".shadow").removeClass("hide");

                // 获取标签名字
                labelName = $(this).siblings().text();
                {#console.log(labelName);#}

                if (labelName == '测试设备:'){
                    $("#modal-add-info-btn").addClass("hide");
                }else {
                    $("#modal-add-info-btn").removeClass("hide");
                }


                // 动态生成对话框中的信息
                for (var item in data[labelName]) {
                    var htmlInput = '<label for="inputEmail3" class="control-label" style="margin:10px">' + data[labelName][item].name+1 + ':</label>' +
                        '<input type="text" class="form-control"  name="'+ data[labelName][item].name +1 +
                        '" style="display:inline;width:220px;"' + 'value="'+ data[labelName][item].value +' "' +'>';

                    $("#add-info-modal").append(htmlInput);
                }

            });



            /* 点击 再加一组按钮后 出现的效果 */
            var i = 1;
            $("#modal-add-info-btn").click(function () {
                i++;
                for (var item in data[labelName]) {

                var htmlInput = '<label for="inputEmail3" class="control-label add" style="margin:10px">' + data[labelName][item].name+i + ':</label>' +
                        '<input type="text" class="form-control add"  name="'+ data[labelName][item].name +i +
                        '" style="display:inline;width:220px;"' + 'value="'+ data[labelName][item].value +' "' +'>';

                $("#add-info-modal").append(htmlInput);}
                $("#modal-del-info-btn").removeClass("hide").click(function () {
                    /* 点击 删除新增项按钮后 出现的效果 */
                    $(".control-label,.form-control").remove(".add");
                    $(this).addClass("hide");
                    i = 1;
                })
            });





            // 点击取消按钮 消除模态对话
            $(".modal-btn-cancel").click(function () {
                    $("#add-info").addClass("hide");
                    $(".shadow").addClass("hide");
                    $("#add-info-modal").empty();
                    i = 1;
            });

            // 点击确认按钮 组合成字典 ajax 发送数据
            $(".modal-btn-confir").click(function () {
                var container = $(this).parent().siblings();
                var post_dict = {};
                container.find('input[type="text"],text').each(function () {
                    post_dict[$(this).attr('name')] = $(this).val();
                });


                // 发请求
                    $.ajax({
                        url:'/modal_info/',
                        type:'post',
                        data:{'label_name':labelName, 'pd':post_dict},
                        dataType:'JSON',
                        success: function (arg) {
                            console.log(arg.message);
                            // 如果数据成功提交，给用户一个提示
                            $(".this-btn-info").addClass("btn-info-finish")
                            .removeClass("this-btn-info").removeClass("btn-info");
                        }
                    });


                $("#add-info").addClass("hide");
                $(".shadow").addClass("hide");
                $("#add-info-modal").empty();
                i=1;

            });
        }


        function BindPublishSubmit(){
        $('#submit_link,#submit_text,#submit_img').click(function(){
        // 获取输入内容并提交
        var container = $(this).parent().parent();
        var post_dict = {};
        container.find('input[type="text"],textarea').each(function(){
            post_dict[$(this).attr('name')] =$(this).val();
        });
        post_dict['news_type_id'] = container.find('.news-type .active').attr('value');

        $.ajax({
            url: '/index/',
            type: 'POST',
            data: post_dict,
            dataType: 'json',
            success: function (arg) {
                if(arg.status){
                    window.location.href = '/index';
                }else{
                    console.log(arg);
                }
            }

        })


    });
}


        function BindNewType(){
            $('.news-type').children().click(function(){
                $(this).addClass('active').siblings().removeClass('active');
            });
        }

        //绑定了，一个发送短信验证码的事件
        function BindSendMsg(){
            $("#fetch_code").click(function(){
                // 整体错误清空
                $('#register_error_summary').empty();
                // 获取邮箱输入的值
                var email = $('#email').val();
                if(email.trim().length == 0){
                    $('#register_error_summary').text('请输入注册邮箱');
                    return;
                }
                // 点击的按钮
                if($(this).hasClass('sending')){
                    // sending 使得按钮置灰
                    // 遇到return下面不再继续执行
                    return;
                }
                var ths = $(this);
                var time = 60;

                $.ajax({
                    url: "/send_msg/",
                    type: 'POST',
                    data: {email: email},
                    dataType: 'json',
                    success: function(arg){
                        // {'status': False, "summary": '整体错误错误', 'error': {}}
                        if(!arg.status){
                            $('#register_error_summary').text(arg.summary);
                        }else{
                            // 后台已经发送成功
                            ths.addClass('sending');
                            var interval = setInterval(function(){
                                ths.text("已发送(" + time + ")");
                                time -= 1;
                                if(time <= 0){
                                    clearInterval(interval); // 干掉计时器
                                    ths.removeClass('sending');
                                    ths.text("获取验证码");
                                }
                            }, 1000);
                        }
                    }
                });

            });
        }


        function BindLoginRegisterDialog(){
            $('#reg_link_a,#login_link_a').click(function(){
                $('#accountDialog').removeClass('hide');
                $('.shadow').removeClass('hide');
            });
        }



        /* 获取项目名称 和BUG信息的 代码块 */
        function update_item_ajax() {
            $.ajax({
                        url: '/update_item/',
                        type: 'get',
                        data: {"status":"OK","zentao_id":zentao_id},
                        dataType: 'json',
                        success: function (arg) {
                            if (arg.status){
                                alert("数据更新完毕！");
                                console.log(arg.data);
                                $.each(arg.data,function (k,v) {
                                    $('#productItem').append(
                                       '<option value="'+v+'">'+k+'</option>'
                                    )
                                });

                            } else {
                                console.log("出错了！")
                            }
                        }
                    })
        }
        /*    绑定更新项目名称的接口     */
        var zentao_id;
        function BindUpdateItem() {
            $('#updateItem').click(function () {
                if ($('#action_nav').attr('is-login') == 'true') {
                    $('.shadow').removeClass('hide');   // 点击后选择禅道版本号
                    $('.modal-dialog-zentao').removeClass('hide'); //弹出禅道对话框

                } else {
                    $('#accountDialog').removeClass('hide');
                    $('.shadow').removeClass('hide');
                }
            });


            /* 点击 老禅道  和  新禅道的 按钮事件*/
            $('.btn-old-zentao').click(function () {
                zentao_id = $(this).val();
                $('.shadow').addClass('hide');   // 消除蒙层
                $('.modal-dialog-zentao').addClass('hide'); //消除弹框
                console.log(zentao_id);
                update_item_ajax();
            });

            $('.btn-new-zentao').click(function () {
                zentao_id = $(this).val();
                $('.shadow').addClass('hide');   // 消除蒙层
                $('.modal-dialog-zentao').addClass('hide'); //消除弹框
                update_item_ajax();
            });

        }



        /*    绑定获取爬虫数据的接口     */
        function BindGetData() {
            $('#getData').click(function () {
                if ($('#action_nav').attr('is-login') == 'true') {
                    var itemId = $('#productItem').val();

                    console.log(itemId);

                    $.ajax({
                        url: '/update_item/',
                        type: 'POST',
                        data: {"status":"OK","itemId":itemId,"zentao_id":zentao_id},
                        dataType: 'json',
                        success: function (arg) {
                            if (arg.status){
                                alert(arg.message)
                            } else {
                                alert(arg.message)
                            }
                        }
                    })
                } else {
                    $('#accountDialog').removeClass('hide');
                    $('.shadow').removeClass('hide');
                }
            })
        }


        /* 绑定一个生成报告的事件 */
        function BindCreateReport(){
            $('#CreateReport').click(function(){
                if($('#action_nav').attr('is-login') == 'true'){
                    var itemName = $('#productItem').find("option:selected").text();
                    $.ajax({
                        url: '/creat_report/',
                        type: 'POST',
                        data: {"status":"OK","itemName":itemName},
                        dataType: 'json',
                        success: function (arg) {
                            if (arg.status){
                                $('#alertSuccess').removeClass('hide');
                                $('#SendReport').removeClass('default').addClass('btn-success').removeAttr("disabled");
                                $('#CreateReport').addClass('default').removeClass('btn-primary').attr('disabled','disabled');
                            }else {
                                console.log(arg.message);
                                console.log(arg.status);
                            }
                        }
                    })
                }else{
                    $('#accountDialog').removeClass('hide');
                    $('.shadow').removeClass('hide');
                }
            });

        }


        /* 绑定一个发送报告的事件 */
        function BindSendReport() {
            $('#SendReport').click(function () {
                $('.spanSR').removeClass('hide');

                $.ajax({
                        url: '/creat_report/',
                        type: 'GET',
                        data: {"status":"OK"},
                        dataType: 'json',
                        success: function (arg) {
                            if (arg.status){
                                alert(arg.message);
                                $('#CreateReport').removeClass('default').addClass('btn-primary').removeAttr("disabled");
                                $('#SendReport').addClass('default').removeClass('btn-success').attr('disabled','disabled');
                                $('.spanSR').addClass('hide');
                            }else {
                                alert(arg.message);
                                console.log(arg.status);
                            }
                        }
                    })
            })
        }



    </script>
{% endblock %}