<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul>
        <li class="items" style="padding:8px 0 0 16px;">
        <span class="folder" id="comment_folder_1">
            <div class="comment-L comment-L-top">
                <a href="#" class="icons zhan-ico"></a>
                <a href="/user/moyujian/submitted/1">
                    <img src="/statics/images/1.jpg">
                </a>
            </div>
            <div class="comment-R comment-R-top" style="background-color: rgb(246, 246, 246);">
                <div class="pp"><a class="name" href="/user/moyujian/submitted/1">change</a>
                    <span class="p3">5</span>
                    <span class="into-time into-time-top">2018/05/31</span>
                </div>
                <div class="comment-line-top">
                    <div class="comment-state">
                        <a class="ding" href="javascript:void(0);">
                            <b>顶</b>
                            <span class="ding-num">[0]</span>
                        </a>
                        <a class="cai" href="javascript:void(0);">
                            <b>踩</b>
                            <span class="cai-num">[0]</span>
                        </a>
                        <span class="line-huifu">|</span>
                        <a class="see-a jubao" href="javascript:void(0);">举报</a>
                        <span class="line-huifu">|</span>
                        <a class="see-a huifu-a" href="javascript:void(0);" onclick="reply(1,1,change)">
                            回复
                        </a>
                    </div>
                </div>
            </div>
        </span>
        </li>
    </ul>



</body>
</html>