{% extends "_layout.html" %}
{% load index_username %}

{% block css %}{% endblock %}

{% block body %}
<div class="pg-body">
    <div style="background-color: #eee;">
        <div class="w body-content">
            <div class="clearfix">
                <div class="content-l">
                    <div class="nav-top-area">
                        <div class="child-nav">
                            <select class="form-control" id="productItem">...
                                <option value="nd123" >请选择项目名称...</option>
                            </select>
                        </div>
                            <a href="javascript:void(0);" class="publish-btn" id="updateItem">
                                <span class="ico n1"></span><span class="n2">更新项目</span>
                            </a>
                            <a href="javascript:void(0);" class="publish-btn2" id="getData">
                                <span class="ico n1"></span><span class="n2">获取数据</span>
                            </a>
                    </div>

                    <div class="nav-form-area">
                        <from action="/index_tr" method="post" enctype="multipart/form-data" class="form-inline" >
                               <div class="form-group form-group-div">
                                    <label for="exampleInputName2">作者姓名:</label>
                                    <input type="text" class="form-control form_info" id="authorName"  placeholder="你的名字">
                               </div>
                                <div class="form-group form-group-div">
                                    <label for="exampleInputName3">覆盖范围:</label>
                                    <input type="text" class="form-control form_info" id="coverageAge"  placeholder="本次测试的范围">
                               </div>

                                <div class="form-group form-group-div">
                                    <label for="exampleInputName4">测试类型:</label>

                                      <input type="radio" class="radio" name="testType" value="功能测试">功能测试


                                      <input type="radio" class="radio" name="testType" value="性能测试">性能测试


                                      <input type="radio" class="radio" name="testType" value="安全测试">安全测试

                               </div>


                                <div class="form-group form-group-div">
                                    <label for="exampleInputName2">方法说明:</label>
                                    <textarea class="form-control form_info" rows="3" name="testStrategy" placeholder="测试策略及方法说明"></textarea>
                               </div>
                                <div class="form-group form-group-div">
                                    <label for="exampleInputName2">背景介绍:</label>
                                    <textarea class="form-control form_info" rows="3" name="backInfo" placeholder="项目背景介绍"></textarea>
                               </div>
                                <div class="form-group form-group-div">
                                    <label for="exampleInputName2">参考文档:</label>
                                    <textarea class="form-control form_info" rows="3" name="referenceFile" placeholder="多个文档请用空格隔开"></textarea>
                               </div>
                                <div class="form-group form-group-div">
                                    <label for="exampleInputName2">测试结论:</label>
                                    <textarea class="form-control form_info" name="testConclusion" rows="3" placeholder="您的测试结论"></textarea>
                               </div>
                                <div class="form-group form-group-div">
                                    <label for="exampleInputName2">风险说明:</label>
                                    <textarea class="form-control form_info" name="riskExplain" rows="3" placeholder="上线后有哪些预知的风险"></textarea>
                               </div>
                               <div class="form-group form-group-div">
                                    <label for="exampleInputName2">发送给@:</label>
                                    <textarea class="form-control form_info" name="emailContent" rows="3" placeholder="邮箱地址(用英文 ; 隔开)"></textarea>
                               </div>

                                <div class="form-group form-group-div">
                                    <label for="exampleInputName2">测试设备:</label>
                                    <button type="button" class="btn btn-info">+添加信息</button>
                                </div>
                                <div class="form-group form-group-div">
                                    <label for="exampleInputName2">角色分配:</label>
                                    <button type="button" class="btn btn-info">+添加信息</button>
                                </div>
                                <div class="form-group form-group-div">
                                    <label for="exampleInputName2">测试时间:</label>
                                    <button type="button" class="btn btn-info">+添加信息</button>
                                </div>
                                <div class="form-group form-group-div">
                                    <label for="exampleInputName2">测试阶段:</label>
                                    <button type="button" class="btn btn-info">+添加信息</button>
                                </div>
                                <div class="form-group form-group-div">
                                    <label for="exampleInputName2">功能模块:</label>
                                    <button type="button" class="btn btn-info">+添加信息</button>
                                </div>
                                <div class="form-group form-group-div">
                                    <label for="exampleInputName2">缺陷统计:</label>
                                    <button type="button" class="btn btn-info">+添加信息</button>
                                </div>
                        </from>
                    </div>


                    {% if request.session.is_login %}
                        <div class="form-group-submit">
                            <a class="btn btn-primary" id="CreateReport" href="{% url 'word_download' %}" style="color: white">生成报告</a>
                            <button type="button" class="btn btn-default hide" disabled="disabled" id="SendReport">发送报告</button>
                                <span class="hide spanSR">
                                    <img src="/statics/images/loader.gif" style="height: 16px;width: 16px">
                                    <span>报告发送中...</span>
                                </span>
                        </div>
                    {% else %}
                        <div class="form-group-submit">
                            <a class="btn btn-primary" id="CreateReport" href="javascript:void(0);" style="color: white">生成报告</a>
                            <button type="button" class="btn btn-default hide" disabled="disabled" id="SendReport">发送报告</button>
                                <span class="hide spanSR">
                                    <img src="/statics/images/loader.gif" style="height: 16px;width: 16px">
                                    <span>报告发送中...</span>
                                </span>
                        </div>
                    {% endif %}

                </div>

                <div class="content-r">
                    <div class="form-group form-group-div">
                        <label for="exampleInputName2">邮件内容:</label>
                        <textarea class="form-control form_info" name="emailList" style="height: 466px" placeholder="还什么要说的吗"></textarea>
                   </div>
                    {% if request.session.is_login %}
                        <div class="excel_download" style="margin-bottom: 30px;margin-left: 42px;">
                            <a type="button" class="btn btn-success glyphicon glyphicon-floppy-save" href="{% url 'excel_download' %}"> 添加信息_模板下载</a>
                        </div>
                        <div class="excel_upload" style="margin-bottom: 5px;margin-left: 42px;">
                            <input type="file" name="excel_data" id="excel_upload">
                            <p></p>
                            <a type="button" class="btn btn-primary glyphicon glyphicon-level-up" onclick="ExcelUpload()"> 添加信息_内容上传</a>
                        </div>
                    {% else %}
                        <div class="excel_download" style="margin-bottom: 30px;margin-left: 42px;">
                            <a type="button" class="btn btn-success glyphicon glyphicon-floppy-save" href="javascript:void(0);"> 添加信息_模板下载</a>
                        </div>
                        <div class="excel_upload" style="margin-bottom: 5px;margin-left: 42px;">
                            <input type="file" name="excel_data" id="excel_upload">
                            <p></p>
                            <a type="button" class="btn btn-primary glyphicon glyphicon-level-up" href="javascript:void(0);"> 添加信息_内容上传</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

    <div class="custom-alert-success hide alert" role="alert" id="alertSuccess">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>操作成功！</strong>
                    <h6>(1.报告信息已被保存数据库，若要重新生成，请刷新页面点击“生成报告”! </h6>
                    <h6>(2.若要修改数据，请刷新页面后，填写要修改的部分，点击“生成报告”! </h6>
                    <h6>(3.若需发送自定义后的报告，请选择完后，点击 “重新上传”！</h6>

                    <div>
                        <input type="file" name="file" id="file_upload">
                        <input type="button" value="重新上传" onclick="FileUpload()">
                    </div>

                </div>




    <div id="add-info" class="modal-dialog-custom clearfix hide">
        <div id="add-info-modal" class="form-inline-modal">

        </div>


        <button id="modal-add-info-btn" type="button" class="btn">+再加一组</button>

        <button id="modal-del-info-btn" type="button" class="btn hide">-删除新增项</button>

        <div class="modal-btn">
            <button type="button" class="btn btn-primary modal-btn-confir">确定</button>
            <button type="button" class="btn btn-danger modal-btn-cancel">关闭</button>
        </div>
    </div>

    <div class="modal-dialog-zentao clearfix hide">
        <div class="modal-btn-zentao">
            <button type="button" class="btn-zentao  btn-old-zentao" value="1">老禅道</button>
            <button type="button" class="btn-zentao  btn-new-zentao" value="2">新禅道</button>
        </div>
    </div>


    <div class="loading-ico-index loading-ico-top-index hide"  style="margin:-40% 40% 40% 47%;">加载中，请稍候...</div>

</div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="/statics/js/_testReport.js"></script>
{% endblock %}