<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>测试平台</title>
    <link rel="stylesheet" href="/statics/css/commons.css" />
    <link rel="stylesheet" href="/statics/bootstrap-3.3.7-dist/css/bootstrap.css" />
    <link rel="icon" type="image/png" sizes="16x16" href="/statics/images/favicon.ico">
    <meta name="keywords" content="测试报告&测试工具">
    <meta name="discription" content="测试平台">


    {% block css %} {% endblock %}
</head>
<body>
    <div class="pg-header">
        <div class="w">
            <a class="logo" href="/"></a>
            <div class="act-menu">
                <a href="/index" class="tb">首页</a>
                <a href="/performance" class="tb">性能测试</a>
                <a href="/report" class="tb">测试报告</a>
                <a href="/auto" class="tb">自动化</a>
                <a href="javascript:void(0);" class="tb">单元测试</a>
                <a href="javascript:void(0);" class="tb">安全测试</a>
            </div>
            <div class="key-sera">
                <form action="/search/show" method="post" name="searchFrm2" id="searchFrm2">
                    <input type="text" class="search-txt-s" name="words" id="txtSearch2" autocomplete="off">

                    <a href="javascript:void(0);" class="i" name="searchBtn_2" id="searchBtn_3"><span class="ico"></span></a>
                    <input type="hidden" value="1" id="page" name="page">
                </form>
		    </div>

            {% if request.session.is_login %}
                <div id="action_nav" is-login="true" class="action-nav">
                    <a href="/show/flow/1" style="float:left;position:relative;" id="btnDtaiShw">动态
                        <b class="notice-num-title" id="Dtai-num-title" style="right: 3px; display: none;">
                            <em id="Dtai-em"></em>
                        </b>
                    </a>
                    <a href="javascript:;" id="btnNotShw" class="notice-box">通知
                        <b class="notice-num-title" id="notice-num-title" style="display: none;">
                            <em id="notice-em"></em>
                            <i>+</i>
                        </b>
                    </a>
                    <a href="/user/link/saved/1" id="loginUserNc" class="userPro-Box">
                        <img src="" id="userProImg">
                        <span class="u-nick" id="userProNick">{{ request.session.user_info.username}}</span>
                        <em id="userProArr"></em>
                    </a>
                </div>
                <div class="user-opr-box" id="userOprBox" style="left: 62%;">
                    <a href="javascript:void(0);" style="border-top:0;">我的报告</a>
                    <a href="javascript:void(0);">设置</a>
                    <a class="logout" href="/logout/">退出</a>
                    <a href="http://www.baidu.com/" target="_blank" class="ie6-a">我的收藏</a>
                </div>
            {% else %}
                <div id="action_nav" is-login="false" class="action-nav">
                    <a href="javascript:void(0);" class="login-btn-a" id="reg_link_a">注册</a>
                    <a href="javascript:void(0);" class="login-btn-a" id="login_link_a">登录</a>
                </div>
            {% endif %}


        </div>

    </div>


    <div class="pg-body">
        {% block body %} {% endblock %}

        <div id="accountDialog" class="account-dialog hide clearfix">
        <div id="model_login" class="login left">
            <div class="header">登陆</div>
            <div class="content">

                <div style="padding: 0 70px">
                    <div class="tips">
                        <span>用户名登陆</span>
{#                        <span style="padding: 0 5px;">|</span>#}
{#                        <span>邮箱登陆</span>#}
                    </div>
                    <div id="login_error_summary" class="error-msg">

                    </div>
                    <div class="inp">
                        <input name="user" type="text" placeholder="请输入用户名" />
                    </div>
                    <div class="inp">
                        <input name="pwd" type="password" placeholder="请输入邮箱密码" />
                    </div>
                    <div class="inp clearfix">
                        <input name="code" class="check-code" type="text" placeholder="请输入验证码" />
                        <span>
                            <img class="check-img" src="/check_code/" alt="验证码" onclick="ChangeCode(this);">
                        </span>

                    </div>
                    <div class="extra">
                        <input type="checkbox" name="autoLogin" checked="checked" /> <span>一个月内自动登录</span>
                        <a class="right" href="javascript:void(0);">忘记密码？</a>
                    </div>
                    <div class="inp">
                        <div class="submit" onclick="SubmitLogin(this);">
                            <span>登陆</span>
                            <span class="hide">
                                <img src="/statics/images/loader.gif" style="height: 16px;width: 16px">
                                <span>正在登陆</span>
                            </span>
                        </div>
                    </div>
                </div>
                <script>
                    function ChangeCode(ths) {
                        ths.src += '?';
                    }
                </script>
            </div>
        </div>
        <div id="model_register" class="register left">
            <div class="header">
                <span>注册</span>
                <div class="dialog-close" onclick="CloseDialog('#accountDialog');">X</div>
            </div>
            <div class="content">
                <div style="padding: 0 70px">
                    <div class="tips">
                        <span>输入注册信息</span>
                    </div>
                    <div id="register_error_summary" class="error-msg">

                    </div>
                    <div class="inp">
                        <input name="username" type="text" placeholder="请输入与禅道一致的用户名" />

                    </div>
                    <div class="inp">
                        <input name="email" id="email" type="text" placeholder="请输入公司邮箱" />
                    </div>
                    <div class="inp">
                        <input name="email_code" class="email-code" type="text" placeholder="请输入验证码" />
                        <a id="fetch_code" class="fetch-code" href="javascript:void(0);">获取验证码</a>
                    </div>
                    <div class="inp">
                        <input name="password" type="password" placeholder="请输入公司邮箱密码" />
                    </div>
                    <div class="inp">
                        <div class="submit" onclick="SubmitRegister(this);">
                            <span>注册</span>
                            <span class="hide">
                                <img src="/statics/images/loader.gif" style="height: 16px;width: 16px">
                                <span>正在注册</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="shadow hide"></div>

    <div class="pg-footer" style="background-color: #eee;">
        <div class="w" style="background-color: #ffffff;">
            <div class="foot-nav">
                <div style="display:none" id="y-destjid"></div>
                <div style="display:none" id="y-destnick"></div>
                <a href="javascript:;" target="_blank">关于我们</a><span>|</span><a href="javascript:void(0)" target="_blank">联系我们</a><span>|</span><a href="javascript:void(0)" target="_blank">服务条款</a><span>|</span><a href="javascript:void(0)" target="_blank">隐私政策</a><span>|</span><a href="javascript:void(0)" target="_blank">NewDragon工作室</a><span>|</span><!--<a href="http://img.chouti.com/toolsffcj.html" target="_blank">浏览器插件</a><span>|</span>--><a href="javascript:void(0)" target="_blank">下载客户端</a><span>|</span><a href="javascript:void(0)" target="_blank">意见与反馈</a><span>|</span><a href="www.baidu.com" target="_blank">友情链接</a><span>|</span><a href="javascript:void(0)" target="_blank">公告</a><!--<span>|</span><a href="/points/gifts" target="_blank">积分商城</a>-->
                <a href="#" target="_blank" style="margin-left:0;vertical-align:-2px;" title="Rss订阅"><img src="" width="36" height="14"></a>
            </div>
            <div class="foot-nav2">
                <a target="_blank" href="javascript:;"><img class="foot_e" src=""></a>
                <span class="foot_d">旗下站点</span>
                <span class="foot_a">© 2099 ND.com</span>
                <a target="_blank" href="javascript:;" class="foot_b">川PZH备19881209号-0 川公网安备 110120119</a>
                <div style="margin-top:6px;">版权所有：ND工作室</div>
            </div>
        </div>
    </div>

    <script src="/statics/js/jquery-2.1.4.min.js"></script>
    <script src="/statics/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    {% block javascript %} {% endblock %}
    <script src="/statics/js/layout.js"></script>
</body>
</html>